*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.stats-panel {
  position: absolute;
  top: 55vh;
  right: 50px;
  background-color: #111;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 2;
}

.stat-box h3 {
  color: #c6ff00;
  font-size: 2rem;
  margin: 0;
}

.stat-box p {
  color: #ccc;
  font-size: 1.9 rem;
  margin: 4px 0 0;
}
